<%= simple_form_for [post, comment] do |f|%>
      <%= f.input :content,label: "Comment", :size => "10x10"%>
      <%= f.input :user_id ,:as=> :hidden, input_html: {:style=> 'width: 20px'} %>
    <div class="actions" style="padding-left: 10%">
      <%= f.button :submit %>
    </div>
<% end %>