<%= form_for [current_user, conversation] do |f| %>
<div class="field">
  <%= f.hidden_field :partner_id, value: user.id  %>
</div>
<div class="field">
  <%= f.hidden_field :user_id, value: current_user.id  %>
</div>
<%= f.submit "Conversation with #{user.name}" ,class: "btn-link"%>
<% end %>