<%= form_for [current_user, current_user.conversations.new] do |f| %>
    <div class="field">
      <%= f.hidden_field :user_id%>
    </div>
    <div class="field">
      <%= f.hidden_field :partner_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
