<div class = "messages">
  <table class="m">
    <tbody>
    <% @messages.each do |message|%>
    <tr>
        <td class="message-text">
          <% if (message.sender_id != nil)%>
              <p style="font-weight: bold"><%= link_to User.find(id = message.sender_id).name,
                                                           User.find(id = message.sender_id), class: "btn-link"%></p>
          <%end%>
            <p class="content"><%= message.content %></p>
          <br>
          <br>
          <br>
          <br>
        </td>
        <td class="message-date">
           <p class="message-date"> <%= message.created_at.strftime("%T %F") %></p>
          <br>
          <br>
          <br>
          <br>
        </td>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>
<%= render partial: "messages/form", locals: { message:@message, conversation:@conversation} %>