<h2>Members</h2>
<% @users.each do |user| %>
    <%if user.id != current_user.id %>
    <p><%=link_to user.name, user, class: 'btn-link' %></p>
    <%if Conversation.where("user_id = ? AND partner_id = ?",current_user.id, user.id).first != nil %>
        <% @conversation = Conversation.where("user_id = ? AND partner_id = ?",current_user.id, user.id).first%>
        <%= link_to "Conversation with #{user.name}", user_conversation_path(current_user, @conversation.id), class: "btn-link"%>
    <%else%>
            <%= render partial: "conversations/form", locals: {conversation:@conversation, user:user} %>
    <%end%>
    <br>
    <br>
    <br>
    <%end%>
<%end%>