<div class="post">
  <p class = "title"><%= link_to @post.title, @post %></p>
  <br>
  <p class = "content"><%=@post.content%></p>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
