@import "bootstrap";
p.title{
  margin-left: 15%;
  font-weight: bold;
  color: #730E15;
  font-size: 30px;
}
.post{
  padding-top: 7%;
  padding-left: 5%;
}
p.content{
  width: 70%;
  line-height: 130%;
  margin-left: 5%;
}
p.author{
  margin-left: 20%;
  font-size: 16px;
}
table{
table-layout: fixed;
  margin-left: 10%;

}
.col1{
  width: 10%;
}
.col2{
  width: 50%;
  text-align: center;
}
p.comment-content{
  width: 70%;
  line-height: 130%;
  margin-left: 5%;
}
p.comment-author{
    margin-left: 20%;
  font-size: 16px;
}